.kiemdinh {
    //white-space: nowrap;
    width: 150px;
    border: none;
    // border: 1px solid #000000;
    //overflow: hidden;
    //text-overflow: ellipsis;
}
.card-product {
    // display: flex;
    justify-content: space-between;
}
.card-product-right {
    width: 550px;
}
